<!--
HTML Home
Hecho por
Leonel Solis
Examen ITicket
-->
<!DOCTYPE html>
<html>
    <head>
        <title>ITicket</title>
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <div>
            <h1>Bienvenido a ITicket</h1>
            <div class="content">
                <a href ="EventoNuevo.html">Agregar Evento Nuevo</a>
                <br>
                <a href ="TodosEventos.html">Mostar y eliminar los eventos</a>            
            </div>
        </div>
    </body>
</html>
